.container {
    position: relative;
    background: #303A48;
    border-radius: 8px;
    padding: 44px 40px;
    margin: auto;
    width: 50%;
    max-width: 515px;
    min-width: 304px;
}

.container.light {
    background: #e7e9ee;
}

.topContainer {
    text-align: right;
    margin: 20vh auto 20px auto;
    width: 50%;
    max-width: 515px;
    min-width: 304px;
}

.random-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.divider {
    width: 100%;
    padding: 36px 24px 12px 24px;
    pointer-events: none;
    user-select: none;
}